.playlist {
  flex: 1;
  min-height: 0;
  display: flex;
  justify-content: center;
  padding: 0 1rem 1rem 1rem;
}

.inner {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2.2rem;
}

.no_data {
  display: flex;
  justify-content: center;
  padding-top: 4rem;
  opacity: 0.6;
}
