.current_track_wrapper {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  max-width: 35rem;
  min-width: 10rem;
}

.image_wrapper {
  position: relative;
  display: block;
  border-radius: 0.6rem;
  overflow: hidden;
  min-height: 4rem;
  min-width: 4rem;
}

.image {
  display: block;
  height: 4rem;
  width: 4rem;
  background: rgba(255, 255, 255, 0.08);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.12) 8%,
    rgba(255, 255, 255, 0.16) 18%,
    rgba(255, 255, 255, 0.12) 33%
  );
  background-size: 200% 100%;
  animation: 1.5s shine linear infinite;
}

.expand_button_wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 4rem;
  width: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}

.expand_button {
  opacity: 0;
  display: flex;
  padding: 0.6rem;
  border-radius: 1.5rem;
  background-color: var(--background-color);
  backdrop-filter: blur(var(--background-blur));
  transition: 0.4s;
}

.expand_icon {
  display: block;
  height: 1.6rem;
  width: 1.6rem;
  opacity: 0.7;
  transition: 0.4s;
}

.expand_button_wrapper:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.expand_button_wrapper:hover .expand_button {
  opacity: 1;
}

.expand_button:hover {
  background-color: var(--second-background-color);
}

.expand_button:hover .expand_icon {
  opacity: 1;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  overflow: hidden;
  position: relative;
  min-width: 0;
}

.marquee {
  overflow: hidden;
  max-width: 100%;
  min-width: 0;
  white-space: nowrap;
}

.track_name {
  display: inline-block;
  white-space: nowrap;
  will-change: transform;
}

.artists_list {
  display: inline-flex;
  white-space: nowrap;
  flex-wrap: nowrap;
  will-change: transform;
}

.artist_item {
  font-size: 0.875rem;
  color: rgba(255, 255, 255, 0.8);
  display: flex;
  margin-right: 0.3rem;
}

@keyframes shine {
  0% {
    background-position: 100% 0;
  }

  100% {
    background-position: -100% 0;
  }
}
