.section {
  padding: 1rem;
}

.section_header {
  margin: 0;
}

.theme_picker {
  margin-top: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 22rem;
}

.theme_picker input[type="color"] {
  -webkit-appearance: none;
  appearance: none;
  width: 3rem;
  height: 1.4rem;
  border: 2px solid #444;
  border-radius: 0.5rem;
  cursor: pointer;
  background: transparent;
  padding: 0;
  margin-left: 2rem;
  transition: 0.3s;
}

.theme_picker input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}

.theme_picker input[type="color"]::-webkit-color-swatch {
  border: none;
}

.theme_picker input[type="color"]::-moz-color-swatch {
  border: none;
}

.theme_picker input[type="color"]:hover {
  transform: scale(1.05);
}

.button_group {
  display: flex;
  align-items: center;
}

.clear_button {
  color: rgba(255, 255, 255, 0.6);
  font-size: 0.875rem;
  margin-left: 0.5rem;
}

.clear_button:hover {
  text-decoration: underline;
  color: #ffffff;
}

.range {
  width: 7rem;
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
}

.range::-webkit-slider-runnable-track {
  height: 0.3rem;
  border-radius: 0.2rem;
}

.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  margin-top: -0.25rem;
  background: #fff;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  display: none;
}

.range:hover::-webkit-slider-thumb {
  display: block;
}

.range:disabled:hover::-webkit-slider-thumb {
  display: none;
}

.range::-webkit-slider-runnable-track {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.86) 0%,
    rgba(255, 255, 255, 0.86) var(--blur),
    rgba(255, 255, 255, 0.3) var(--blur),
    rgba(255, 255, 255, 0.3) 100%
  );
}
