.app {
  min-height: calc(100vh - 0.5rem);
  display: flex;
  flex-direction: column;
  padding: 4.5rem 0 8rem 0;
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.app_content_wrapper {
  flex-grow: 1;
  position: relative;
}

.app_content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.header_wrapper {
  position: fixed;
  top: 1rem;
  left: auto;
  right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  max-width: 1300px;
  width: 100%;
}

.brand {
  letter-spacing: 0.1rem;
}

.playback_wrapper {
  position: fixed;
  width: 100%;
  bottom: 1rem;
  left: 0;
  display: flex;
  justify-content: center;
  z-index: 10;
}
