.app {
  min-height: calc(100vh - 0.5rem);
  display: flex;
  flex-direction: column;
  padding: 4rem 0.5rem 8rem 0.5rem;
}

.app_content_wrapper {
  flex-grow: 1;
  position: relative;
}

.app_content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.brand_wrapper {
  position: fixed;
  top: 1rem;
  left: 1rem;
  z-index: 10;
}

.profile_preview_wrapper {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 10;
}

.playback_wrapper {
  position: fixed;
  width: 100%;
  bottom: 1rem;
  left: 0;
  display: flex;
  justify-content: center;
  z-index: 10;
}
