.overflow {
  width: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.number {
  color: rgba(255, 255, 255, 0.8);
  font-size: 0.75rem;
}

.range {
  width: 100%;
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  max-width: 27rem;
  display: flex;
  box-sizing: border-box;
  margin: 0;
}

.range::-webkit-slider-runnable-track {
  height: 0.3rem;
  border-radius: 0.2rem;
}

.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  margin-top: -0.25rem;
  background: #fff;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  display: none;
}

.range:hover::-webkit-slider-thumb {
  display: block;
}

.range:disabled:hover::-webkit-slider-thumb {
  display: none;
}

.range::-webkit-slider-runnable-track {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.86) 0%,
    rgba(255, 255, 255, 0.86) var(--progress),
    rgba(255, 255, 255, 0.3) var(--progress),
    rgba(255, 255, 255, 0.3) 100%
  );
}
