.loading {
  padding: 0;
  height: fit-content;
  display: flex;
}

.loading_icon {
  height: 1.6rem;
  opacity: 0.72;
}

.preview {
  padding: 0;
  height: fit-content;
  display: flex;
}

.preview_icon {
  height: 1.6rem;
  opacity: 0.72;
  transition: opacity 0.3s;
}

.preview_icon:hover {
  opacity: 1;
}

.menu {
  position: absolute;
  right: 0;
  bottom: 5.3rem;
  min-width: 12.5rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  backdrop-filter: blur(var(--background-blur));
  border-radius: 0.8rem;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.2);
  font-size: 0.875rem;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translateY(0.5rem);
  transition: 0.2s;
  z-index: 10;
}

.menu_open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transform: translateY(0);
}

.header {
  padding: 0.3rem 0.5rem 0.6rem 0.3rem;
}

.menu_list {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  margin: 0;
  padding: 0;
  list-style: none;
}

.button {
  padding: 0.5rem 0.7rem 0.5rem 0.5rem;
  border-radius: 0.5rem;
  transition: background-color 0.3s;
  display: flex;
  gap: 0.6rem;
  align-items: center;
  width: 100%;
}

.button:hover {
  background-color: rgba(255, 255, 255, 0.08);
}

.button_point {
  width: 10px;
  height: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button_point::before {
  content: "";
  display: block;
  background-color: rgba(255, 255, 255, 0.7);
  height: 5px;
  width: 5px;
  border-radius: 5px;
}

.button_active > .button_point::before {
  background-color: var(--primary-color);
  animation: playing 1s infinite alternate ease-out;
}

@keyframes playing {
  from {
    height: 5px;
    width: 5px;
  }
  to {
    height: 10px;
    width: 10px;
  }
}
