:root {
  --primary-color: #1db954; /* #fcfd6c */

  --background-color: rgba(255, 255, 255, 0.08);
  --background-blur: 10px;

  --duration_artist: 2.4s;
  --duration_track: 2.4s;
  --offset_artist: 0;
  --offset_track: 0;
  --progress: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #121212;
  color: #fff;
  font-family: "Helvetica Neue", sans-serif;
}

a {
  color: inherit;
  text-decoration: inherit;
}

button {
  color: inherit;
  cursor: pointer;
  font-size: inherit;
  border: inherit;
  background-color: transparent;
}

button:disabled {
  cursor: auto;
}
