:root {
  --primary-color: #1db954; /* #fcfd6c */

  --duration_artist: 2.4s;
  --duration_track: 2.4s;
  --offset_artist: 0;
  --offset_track: 0;
  --progress: 0;
}

body {
  margin: 0;
  background-color: #121212;
  color: #fff;
  font-family: "Helvetica Neue", sans-serif;
}

a {
  color: inherit;
  text-decoration: inherit;
}

button {
  color: inherit;
  cursor: pointer;
  font-size: inherit;
  border: inherit;
  background-color: transparent;
}
